$post-height:32%;
$post-radius:5px;
*{
    box-sizing: border-box;
    margin: 0;
}
html{
 background: #fff;
}
body{
    width: 100%;
    font: .9em/1.2 'Bebas Neue', cursive;
}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 1em;
    header{
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(47, 54, 122);
        border-radius: 1em;
        grid-column: 1/4;
        grid-row: 1;
        .logo{
            position: relative;
        }
        .nav{
            position: relative;
            .links{
                letter-spacing: 0.2em;
                font-size: 2.8vh;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                .link-item{
                    float: left;
                    .link{
                        display: block;
                        color: seashell;
                        text-align: center;
                        text-decoration: none;
                        padding: 1em;
                        &:hover{
                            color: black;
                            background-color: silver;
                            border-radius: 1em;
                        }
                    }
                }
            }
        }
    }
    section{
        height: 70vh;
        grid-column: 1/4;
        grid-row: 2;
        display: grid;
        grid-template-columns:1fr 3fr 1fr;
        grid-gap: 1em;
        .left{
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            .one,.two,.three{
                padding: 2em;
                height: $post-height;
                border-radius: $post-radius;
                font-size: 3vh;
                &:hover{
                    transition: 0.3s ease-in-out;
                    transform: scale(1.1);
                }
            }
            .one{
                background-color: rgb(63, 125, 187);
            }
            .two{
                background-color: rgb(42, 139, 156);
            }
            .three{
                background-color: steelblue;
            }
        }
        article{
            font-size: 3vw;
            padding: 4em;
            text-align: center;
            background-color: rgb(102, 195, 231);
            border-radius: 5px;
        }
        .right{
            font-size: 2.6vh;
            padding: 1em;
            background-color: rgb(179, 185, 192);
            border-radius: 5px;
            margin-right: 0.3em;
        }
    }
    footer{
        color: wheat;
        height: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(44, 33, 139);
        grid-column: 1/4;
        grid-row: 3;
        position: fixed;
        bottom: 0;
    }
}