* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  background: #fff;
}

body {
  width: 100%;
  font: .9em/1.2 'Bebas Neue', cursive;
}

main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 1em;
}

main header {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #2f367a;
  border-radius: 1em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
}

main header .logo {
  position: relative;
}

main header .nav {
  position: relative;
}

main header .nav .links {
  letter-spacing: 0.2em;
  font-size: 2.8vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main header .nav .links .link-item {
  float: left;
}

main header .nav .links .link-item .link {
  display: block;
  color: seashell;
  text-align: center;
  text-decoration: none;
  padding: 1em;
}

main header .nav .links .link-item .link:hover {
  color: black;
  background-color: silver;
  border-radius: 1em;
}

main section {
  height: 70vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 1em;
}

main section .left {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .left .one, main section .left .two, main section .left .three {
  padding: 2em;
  height: 32%;
  border-radius: 5px;
  font-size: 3vh;
}

main section .left .one:hover, main section .left .two:hover, main section .left .three:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main section .left .one {
  background-color: #3f7dbb;
}

main section .left .two {
  background-color: #2a8b9c;
}

main section .left .three {
  background-color: steelblue;
}

main section article {
  font-size: 3vw;
  padding: 4em;
  text-align: center;
  background-color: #66c3e7;
  border-radius: 5px;
}

main section .right {
  font-size: 2.6vh;
  padding: 1em;
  background-color: #b3b9c0;
  border-radius: 5px;
  margin-right: 0.3em;
}

main footer {
  color: wheat;
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2c218b;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  grid-row: 3;
  position: fixed;
  bottom: 0;
}
/*# sourceMappingURL=main.css.map */